# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
Textures/other/*
isRun

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/runs
src/main/java/cn/mcxkly/classicandsimplestatusbars/overlays/txt.txt
/.vscode
