# idea
out
*.ipr
*.iws
*.iml
.idea
Textures/other/*
isRun

# gradle
build
.gradle

# other
run

# Files from Forge MDK
forge*changelog.txt
/runs
src/main/java/cn/mcxkly/classicandsimplestatusbars/overlays/txt.txt
